body {
  font-family: "Lato";
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-style: italic;
}

.navlink {
  cursor: pointer;
}

.errorInput {
  border: 1px solid #cc0033 !important;
  box-shadow: 0 0 6px rgb(220, 33, 20) inset !important;
}

.errorStyle {
  color: red;
  font-size: 13px;
}

.asterisk {
  color: red;
}

.buttonStyleError {
  cursor: not-allowed;
  pointer-events: all !important;
}
